* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

:root {
    --mtop-ski: 1vh;
    --bokkw-ski: 45vh;
}

body {
    background-color: #fef3dd;
    position: relative;
}

div#pctArea {
    position: absolute;
    left: 10%;
    top: var(--mtop-ski);
    width: var(--bokkw-ski);
    height:var(--bokkw-ski);
    border: 1px solid maroon;
}

div#hintArea {
    position: absolute;
    top: calc(var(--mtop-ski) + var(--bokkw-ski) + 10px);
    left:calc(10% + calc(var(--bokkw-ski) / 3));
}

div#btnsArea {
    position: absolute;
    right: 10%;
    top: var(--mtop-ski);
    width: 30vw;
    height: 90vh;
    border: 1px solid maroon;
}

.klawisz {
    width: 90%;
    height: 13%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    background-color: gray;
}

.klawisz p {
    font-size: 200%;
    line-height: 250%;
    font-weight: bold;
}

@media (max-width:800px) and (orientation: portrait) {

    div#pctArea, div#btnsArea, div#hintArea {
        display: none;
    }
    
}