* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

:root {
    --top-ski: 1vh;
    /* odlegl. od top */
    --bokkw-ski: 45vh;
    /* bok kwadratu na obrazek */
    --left-ski: 10%;
    /* odl. kwadratu od lewej  */
    --right-ski: 10%;
    /* odl. obsz. klawiszy od prawej */
}

body {
    background-color: #fef3dd;
    /* position: relative; */
}

div#pctArea {
    position: absolute;
    left: var(--left-ski);
    top: var(--top-ski);
    width: var(--bokkw-ski);
    height: var(--bokkw-ski);
    /* obrazek: */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*cover - ladny kwadrat, ale przycina...*/
    /* obrazek - koniec */
    /* border: 1px solid maroon */
}

div#hintArea {
    position: absolute;
    text-align: center;
    ;
    top: calc(var(--top-ski) + var(--bokkw-ski) + 10px);
    /* left:calc(10% + calc(var(--bokkw-ski) / 3)); */
    left: var(--left-ski);
    width: var(--bokkw-ski);
    height: 50px;
    /* border: 1px solid black; */
}

div#hintArea p {
    /* font-weight: bold; */
    /* color: lightgrey; */
    font-size: 150%;
    color: #cdc6c6;
}

div#bDalej {
    position: absolute;
    left: var(--left-ski);
    width: var(--bokkw-ski);
    height: 15vh;
    bottom: 10vh;
    cursor: pointer;
    background-color: green;
}

div#bDalej p {
    line-height: 15vh;
    font-weight: 900;
    text-align: center;
    letter-spacing: -10px;
}

div#btnsArea {
    position: absolute;
    right: var(--right-ski);
    top: var(--top-ski);
    width: 35vw;
    /* height: 90vh; */
    /* border: 1px solid maroon; */
}

.klawisz {
    width: 90%;
    height: 12vh;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    cursor: pointer;
    text-align: center;
}

.klawisz p {
    font-size: 200%;
    line-height: 12vh;
    font-weight: bold;
}

#ostrzezenie {
    display: none;
}

@media (max-width:1024px) {
    .klawisz p {
        font-size: 130%;
        letter-spacing: 1px;
    }
}

@media (max-width:800px) and (orientation: portrait) {
    div#pctArea, div#btnsArea, div#hintArea, div#bDalej {
        display: none;
    }
    #ostrzezenie {
        display: block;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
    }
}