* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

:root {
    --top-ski: 1vh;
    /* odlegl. od top */
    --bokkw-ski: 45vh;
    /* bok kwadratu na obrazek */
    --left-ski: 10%;
    /* odl. kwadratu od lewej  */
    --right-ski: 10%;
    /* odl. obsz. klawiszy od prawej */
}

body {
    background-color: #fef3dd;
}

div#pctArea {
    position: absolute;
    left: var(--left-ski);
    top: var(--top-ski);
    width: var(--bokkw-ski);
    height: var(--bokkw-ski);
    /* obrazek: */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*cover - ladny kwadrat, ale przycina...*/
    /* obrazek - koniec */
    transition: .2s;
}

div#hintArea {
    position: absolute;
    text-align: center;
    top: calc(var(--top-ski) + var(--bokkw-ski) + 1px);
    /* left:calc(10% + calc(var(--bokkw-ski) / 3)); */
    left: calc(var(--left-ski) - 40px);
    width: calc(var(--bokkw-ski) + 80px);
    height: 50px;
    color: #cdc6c6;
    font-size: 150%;
}


div#bDalej {
    position: absolute;
    left: calc(var(--left-ski) - 40px);
    width: calc(var(--bokkw-ski) + 80px);
    height: 16vh;
    bottom: 4vh;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    transition: 0.3s;
}


div#bDalej p {
    line-height: 16vh;
    text-align: center;
    font-size: 500%;
}

div#btnsArea {
    position: absolute;
    right: var(--right-ski);
    top: var(--top-ski);
    width: 35vw;
}

.klawisz {
    width: 90%;
    height: 12vh;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}


/* ponizej od: https://fvsch.com/styling-buttons/   --- dobre!, ale zaklada, ze mamy do czynienia z BUTTONAMI, nie z div'ami */
/* na razie nie używam... */

.btn {
    /* default for <button>, but useful for <a> */
    display: block;


    text-align: center;
    text-decoration: none;
  
    /* create a small space when buttons wrap on 2 lines */
    margin: 5% 0;
  
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;
  
    /* size comes from text & padding (no width/height) */
    padding: 1.5em 1em;
  
    /* make sure colors have enough contrast! */
    color: #ffffff;
    background-color: #9555af;
  }





.klawisz p {
    font-size: 200%;
    line-height: 12vh;
}

#ostrzezenie {
    display: none;
}

@media (max-width:1024px) {
    .klawisz p {
        font-size: 130%;
        letter-spacing: 1px;
    }

    div#bDalej {
        bottom: 0.5vw;
        height: 18vh;
        line-height: 18vh;
    }

    div#bDalej p {
        font-size: 300%;
    }
}

@media (max-width:800px) and (orientation: portrait) {

    div#pctArea,
    div#btnsArea,
    div#hintArea,
    div#bDalej {
        display: none;
    }

    #ostrzezenie {
        display: block;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
    }
}